/* Main container for the About page content */
.definition-container {
  max-width: 610px ;
  border: 4.5px solid var(--color-secondary);
  border-radius: 35px; 
  padding: 24px;
  background-color: #fff; 
    
}

/* Text below search bar when search bar is empty */
.place-holder {
  font-family: var(--font-franklin);
  font-size: 1.125rem;
  color: var(--color-accent);
  font-weight: 500;
}


.word-header {
  font-family: var(--font-baskerville);
  font-size: 2rem; /* 48px */
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: var(--color-dark-text);
  margin: 0;
}

.phonetic  {
  font-family: var(--font-franklin);
  font-size: 1.2rem; 
  color: #555;
  margin-top: 5px;
}

.meaning-block {
  margin-top: 24px;
}

.part-of-speech {
  font-family: var(--font-franklin);
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--color-dark-text);
  margin: 0;
  padding-bottom: 8px;
  
}

.definition-list {
  list-style-type: none;
  padding-left: 20px;
  font-family: var(--font-franklin);
  font-size: 1.125rem; /* 16px */
  color: #333;
}

.definition-list li {
  margin-bottom: 12px;
}

.definition-list .example {
  color: #777;
  font-style: italic;
  margin-top: 5px;
}
